version: '3'
services:
  ros2_iiwa:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ros2_iiwa
    environment:
      - DISPLAY=${DISPLAY}
      - DEBIAN_FRONTEND=noninteractive
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw

    devices:
      - /dev/dri:/dev/dri
    command: "&& source /opt/ros/humble/setup.bash && source /root/ros2_ws/install/setup.bash"
